module.exports.credentials = {
  username: "myEmail@gmail.com",
  escapedPassword:
    "myEscapedPassword",
  recipients: [
    "myEmail@gmail.com",
    "addAnotherEmail@gmail.com",
  ],
  errorRecipients: ["myEmail"],
  slackToken: "SLACK_API_TOKEN"
}
